$primaryBtn: #db5461;
$primaryBtnHover: #ca2b3b;

$secondaryBtn: #8aa29e;
$secondaryBtnHover: #6d8883;

$primaryBackground: #f1edee;
$secondaryBackground: #8aa29e;

$primaryText: #686963;
$secondaryText: #3d5467;
$lightText: #f1edee;
