@import "./variables";
@import "./header";

body {
  font-family: Arial, sans-serif;
}

// button {
//   background-color: $primaryBtn;

//   &:hover {
//     background-color: $primaryBtnHover;
//   }
// }

#main-container {
  display: grid;
  background-color: $primaryBackground;
  color: $secondaryText;
  padding: 50px;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.product {
  border: 2px solid black;

  padding: 10px;
  width: 300px;
}

#products-view {
  display: grid;
}
.cart-container {
  display: grid;
}
.cart-items-container {
  display: grid;
  grid-auto-flow: column;
}
.order-container {
  position: absolute;
  padding: 40px;
  margin-inline: auto;
  background-color: #fff;
  width: fit-content;
  left: 0;
  right: 0;
}
.order-container-hidden {
  display: none;
}
